body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 80px;
}

section {
  display: grid;
  grid-template-rows: repeat(3, 20vmin);
  grid-template-columns: repeat(3, 20vmin);
  grid-gap: 0vmin;
  margin: 5vmin auto;
}

div {
  font-size: 15vmin;
  text-align: center;
  vertical-align: middle;
}

button {
  margin: auto;
}

body.dm {
  background-color: #3e3e3e;
  color: whitesmoke;
}

.dm-hand {
  background-color: #468f9e;
  border: 0.5vmin solid whitesmoke;
}

.dm-foot {
  background-color: #d15f47;
  border: 0.5vmin solid whitesmoke;
}

.dm-tie {
  background-color: #9e7e5b;
  border: 0.5vmin solid whitesmoke;
}

.dm-null {
  background-color: #3e3e3e;
  border: 0.5vmin solid whitesmoke;
}

/*-----------------------------------------------
======= Normalize width of outside edges ========
-----------------------------------------------*/
#sq0 {
  border-top-width: 1vmin;
  border-left-width: 1vmin;
}

#sq1 {
  border-top-width: 1vmin;
}

#sq2 {
  border-top-width: 1vmin;
  border-right-width: 1vmin;
}

#sq3 {
  border-left-width: 1vmin;
}

#sq5 {
  border-right-width: 1vmin;
}

#sq6 {
  border-left-width: 1vmin;
  border-bottom-width: 1vmin;
}

#sq7 {
  border-bottom-width: 1vmin;
}

#sq8 {
  border-bottom-width: 1vmin;
  border-right-width: 1vmin;
}
