/*============================== Global rules =============================*/

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

:root {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  --bg: #f5f5f5;
  --font-color: #3e3e3e;
  --title-bg: #468f9e;
  --cell-border: #3e3e3e;
  --null-bg: var(--bg);
  --null-hover: #9e9e9e;
  --fingers-bg: #142b3d;
  --toes-bg: #8a3e3b;
  --tie-bg: #9e7e5b;
  --button-bg: var(--banner-bg);
  --buton-hover: #142b3d;
}

body.dm {
  --bg: #3e3e3e;
  --font-color: #f5f5f5;
  --title-bg: #142b3d;
  --cell-border: #f5f5f5;
  --null-bg: var(--bg);
  --null-hover: #9e9e9e;
  --fingers-bg: #468f9e;
  --toes-bg: #d15f47;
  --tie-bg: #9e7e5b;
  --button-bg: var(--banner-bg);
  --button-hover: #3e3e3e;
}

.container {
  font-family: "Roboto Slab", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  width: 100vw;
  min-width: 35rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--font-color);
  background-color: var(--bg);
}

/*================================== Content =================================*/

.title {
  font-size: clamp(4.6rem, calc(3rem + 6vw), 12.4rem);
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  background-color: var(--title-bg);
}

h1 > span {
  position: absolute;
  right: 20px;
  top: 20px;
}

button#lmdm {
  font-size: 0.25em;
  border-radius: 15px;
}

h2 {
  font-size: 2.5em;
  margin: 1vmin auto;
}

h3 {
  font-size: 2em;
  margin: 1vmin auto;
}

section {
  display: grid;
  grid-template-rows: repeat(3, 17vmin);
  grid-template-columns: repeat(3, 17vmin);
  grid-gap: 0vmin;
  margin: 2vmin auto;
  z-index: 10;
}

button {
  font-size: 10vmin;
  vertical-align: middle;
  border: 0.5vmin solid;
  font-family: "Roboto Slab", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button#reset {
  margin: 1vmin auto 2vmin;
  padding: 0.5vmin 5vmin;
  font-size: 2.5em;
  border-radius: 25px;
  z-index: 10;
}

#my-canvas {
  float: left;
  position: fixed;
}

/*-----------------------------------------------
=================== Cell rules ==================
-----------------------------------------------*/

.cell {
  border-color: var(--cell-border);
}

.fingers {
  background-color: var(--fingers-bg);
  cursor: not-allowed;
}

.toes {
  background-color: var(--toes-bg);
  cursor: not-allowed;
}

.tie {
  background-color: var(--tie-bg);
  cursor: not-allowed;
}

.null {
  background-color: var(--null-bg);
}

.null:hover,
.null:focus {
  background-color: var(--null-hover);
  cursor: pointer;
}

/*-----------------------------------------------
================ Dark mode rules ================
-----------------------------------------------*/

button#lmdm.dm {
  color: #3e3e3e;
  background-color: #f5f5f5;
}

button.dm {
  background-color: #142b3d;
  color: #f5f5f5;
}

button.dm:hover,
button.dm:focus,
button#lmdm.dm:hover,
button#lmdm.dm:focus {
  border-color: #f5f5f5;
  background-color: #468f9e;
  color: #3e3e3e;
  cursor: pointer;
}

/*-----------------------------------------------
=============== Light mode rules ================
-----------------------------------------------*/

button#lmdm.lm {
  color: #3e3e3e;
  background-color: #f5f5f5;
}

button.lm {
  background-color: #468f9e;
  color: #3e3e3e;
}

button.lm:hover,
button.lm:focus,
button#lmdm.lm:hover,
button#lmdm.lm:focus {
  border-color: #3e3e3e;
  background-color: #142b3d;
  color: #f5f5f5;
  cursor: pointer;
}

/*-----------------------------------------------
======= Normalize width of outside edges ========
-----------------------------------------------*/
#cell0 {
  border-top-width: 1vmin;
  border-left-width: 1vmin;
}

#cell1 {
  border-top-width: 1vmin;
}

#cell2 {
  border-top-width: 1vmin;
  border-right-width: 1vmin;
}

#cell3 {
  border-left-width: 1vmin;
}

#cell5 {
  border-right-width: 1vmin;
}

#cell6 {
  border-left-width: 1vmin;
  border-bottom-width: 1vmin;
}

#cell7 {
  border-bottom-width: 1vmin;
}

#cell8 {
  border-bottom-width: 1vmin;
  border-right-width: 1vmin;
}
