/*================================= Global ==================================*/

@font-face {
  font-family: "Roboto Slab";
  src: url("../assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf")
    format("truetype");
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #lmdm {
    margin-left: max(16rem, calc(50% - 4rem));
  }
}

@-moz-document url-prefix() {
  #lmdm {
    margin-left: max(32rem, calc(100% - 8rem));
  }
}

:root {
  font-size: 10px;
  box-sizing: border-box;
}

/*=============================== Containers ================================*/

body {
  margin: 0;
  --bg: #f5f5f5;
  --font-color: #3e3e3e;
  --accent-bg: #468f9e;
  --cell-border: #3e3e3e;
  --null-hover: #9e9e9e;
  --fingers-bg: #142b3d;
  --toes-bg: #8a3e3b;
  --tie-bg: #9e7e5b;
  --buton-hover: #142b3d;
  --button-hover-font: #f5f5f5;
  --lmdm-image: url(../assets/images/moon-solid.svg);
  background-color: var(--bg);
  height: 100vh;
  width: 100vw;
}

body.dm {
  --bg: #3e3e3e;
  --font-color: #f5f5f5;
  --accent-bg: #142b3d;
  --cell-border: #f5f5f5;
  --null-hover: #9e9e9e;
  --fingers-bg: #468f9e;
  --toes-bg: #d15f47;
  --tie-bg: #9e7e5b;
  --button-hover: #468f9e;
  --button-hover-font: #3e3e3e;
  --lmdm-image: url(../assets/images/sun-solid.svg);
}

.container {
  font-family: "Roboto Slab", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: calc(100vh - 7rem);
  width: 100vw;
  min-height: 85rem;
  min-width: 35rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--font-color);
  background-color: var(--bg);
}

.header {
  background-color: var(--accent-bg);
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: var(--accent-bg);
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  z-index: 10;
}

.footer p {
  margin: auto;
  font-size: clamp(1rem, calc(0.4rem + 2vw), 1.4rem);
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: var(--font-color);
}

.footer a {
  color: var(--font-color);
}

/*================================= Content =================================*/

.title {
  font-size: clamp(4.6rem, calc(2rem + 5vw), 10.4rem);
  margin: 0;
}

#lmdm {
  position: absolute;
  background: var(--lmdm-image);
  border: 0;
  height: 4rem;
  width: 4rem;
}

.subhead {
  font-size: clamp(1.9rem, calc(1rem + 2vw), 3.2rem);
  margin: 0 auto 2rem;
}

#board {
  display: grid;
  grid-template-rows: repeat(3, clamp(11rem, 16vmin, 19vh));
  grid-template-columns: repeat(3, clamp(11rem, 16vmin, 19vh));
  margin: 2rem auto;
  z-index: 10;
}

#reset {
  font-family: "Roboto Slab", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0.4vh auto 0;
  padding: 0.5vmin 5vmin;
  font-size: clamp(1.6rem, calc(0.6rem + 2vw), 2.8rem);
  border-radius: 15px;
  z-index: 10;
  border: 0.4rem solid var(--cell-border);
  background-color: var(--accent-bg);
  color: var(--font-color);
}

#reset:hover,
#reset:focus {
  background-color: var(--button-hover);
  color: var(--button-hover-font);
}

/*=============================== Cell rules ================================*/

.cell {
  border: clamp(0.4rem, 0.4vw, 0.6rem) solid var(--cell-border);
  font-size: clamp(6rem, calc(5rem + 5vw), 10vh);
}

.fingers {
  background-color: var(--fingers-bg);
  cursor: not-allowed;
}

.toes {
  background-color: var(--toes-bg);
  cursor: not-allowed;
}

.tie {
  background-color: var(--tie-bg);
  cursor: not-allowed;
}

.null {
  background-color: var(--bg);
}

.null:hover,
.null:focus {
  background-color: var(--null-hover);
  cursor: pointer;
}

/*============= Normalize width of cell outside edges of cells ==============*/

.rc {
  border-right-width: clamp(0.8rem, 0.8vw, 1.2rem);
}

.tc {
  border-top-width: clamp(0.8rem, 0.8vw, 1.2rem);
}

.bc {
  border-bottom-width: clamp(0.8rem, 0.8vw, 1.2rem);
}

.lc {
  border-left-width: clamp(0.8rem, 0.8vw, 1.2rem);
}

/*================================ Confetti =================================*/

#my-canvas {
  float: left;
  position: fixed;
}

/*============================ Mobile Compliance ============================*/

@media screen and (max-width: 600px) {
  .container {
    height: calc(100vh - 6.5rem);
    min-height: calc(100vh - 6.5rem);
  }
}
