@media (prefers-color-scheme: dark) {
}

body {
  font-family: "Roboto Slab", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 6em;
  margin-top: 40px;
  margin-bottom: 1vmin;
}

h1 > span {
  position: absolute;
  right: 20px;
  top: 20px;
}

button#lmdm {
  font-size: 0.25em;
  border-radius: 15px;
}

h2 {
  font-size: 2.5em;
  margin: 1vmin auto;
}

h3 {
  font-size: 2em;
  margin: 1vmin auto;
}

section {
  display: grid;
  grid-template-rows: repeat(3, 17vmin);
  grid-template-columns: repeat(3, 17vmin);
  grid-gap: 0vmin;
  margin: 2vmin auto;
  z-index: 10;
}

button {
  font-size: 10vmin;
  vertical-align: middle;
  border: 0.5vmin solid;
  font-family: "Roboto Slab", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button#reset {
  margin: 1vmin auto 2vmin;
  padding: 0.5vmin 5vmin;
  font-size: 2.5em;
  border-radius: 25px;
  z-index: 10;
}

#my-canvas {
  float: left;
  position: fixed;
}

/*-----------------------------------------------
================ Dark mode rules ================
-----------------------------------------------*/

body.dm {
  background-color: #3e3e3e;
  color: #f5f5f5;
}

h1.dm {
  background-color: #142b3d;
}

button#lmdm.dm {
  color: #3e3e3e;
  background-color: #f5f5f5;
}

.dm-hand {
  background-color: #468f9e;
  border-color: #f5f5f5;
  cursor: not-allowed;
}

.dm-foot {
  background-color: #d15f47;
  border-color: #f5f5f5;
  cursor: not-allowed;
}

.dm-tie {
  background-color: #9e7e5b;
  border-color: #f5f5f5;
  cursor: not-allowed;
}

.dm-null {
  background-color: #3e3e3e;
  border-color: #f5f5f5;
}

button.dm {
  background-color: #142b3d;
  color: #f5f5f5;
}

.dm-null:hover,
.dm-null:focus {
  background-color: #9e9e9e;
  cursor: pointer;
}

button.dm:hover,
button.dm:focus,
button#lmdm.dm:hover,
button#lmdm.dm:focus {
  border-color: #f5f5f5;
  background-color: #468f9e;
  color: #3e3e3e;
  cursor: pointer;
}

/*-----------------------------------------------
=============== Light mode rules ================
-----------------------------------------------*/

body.lm {
  background-color: #f5f5f5;
  color: #3e3e3e;
}

h1.lm {
  background-color: #468f9e;
}

button#lmdm.lm {
  color: #3e3e3e;
  background-color: #f5f5f5;
}

.lm-hand {
  background-color: #142b3d;
  border-color: #3e3e3e;
  cursor: not-allowed;
}

.lm-foot {
  background-color: #8a3e3b;
  border-color: #3e3e3e;
  cursor: not-allowed;
}

.lm-tie {
  background-color: #9e7e5b;
  border-color: #3e3e3e;
  cursor: not-allowed;
}

.lm-null {
  background-color: #f5f5f5;
  border-color: #3e3e3e;
}

button.lm {
  background-color: #468f9e;
  color: #3e3e3e;
}

.lm-null:hover,
.lm-null:focus {
  background-color: #9e9e9e;
  cursor: pointer;
}

button.lm:hover,
button.lm:focus,
button#lmdm.lm:hover,
button#lmdm.lm:focus {
  border-color: #3e3e3e;
  background-color: #142b3d;
  color: #f5f5f5;
  cursor: pointer;
}

/*-----------------------------------------------
======= Normalize width of outside edges ========
-----------------------------------------------*/
#cell0 {
  border-top-width: 1vmin;
  border-left-width: 1vmin;
}

#cell1 {
  border-top-width: 1vmin;
}

#cell2 {
  border-top-width: 1vmin;
  border-right-width: 1vmin;
}

#cell3 {
  border-left-width: 1vmin;
}

#cell5 {
  border-right-width: 1vmin;
}

#cell6 {
  border-left-width: 1vmin;
  border-bottom-width: 1vmin;
}

#cell7 {
  border-bottom-width: 1vmin;
}

#cell8 {
  border-bottom-width: 1vmin;
  border-right-width: 1vmin;
}
